header,
.profileInfo,
.headerSearch,
.trafficNav,
.icon,
.social,
.alertBar {
    display: flex;
}
header {
    justify-content: space-between;
    align-items: center;
    grid-area: header;
}

.profileInfo {
    align-items: center;
}
.headerSearch,
.trafficNav {
    justify-content: flex-end;
}

.icon {
    align-items: center;
    justify-content: center;
}
.daily {
    grid-area: daily;
}
.mobile {
    grid-area: mobile;
}
.social {
    flex-direction: row;
}
.alertBar {
    justify-content: space-between;
}