$main: #7477bf;
$nav: #4d4c72;
$main-background: #fbfbfb;
body {
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: $main;
}
header h1 {
    margin-left: 10px;
    color: white;
    font-size: 24px;

}
h3 {
    margin: 15px;
    font-size: 1rem;
    @media (min-width: 768px) {
        font-size: 1.5rem;
    }
    @media (min-width: 1024px) {
        font-size: 2rem;
    }
}

nav {
    background-color: $nav;
}
nav img {
    height: 30px;
    width: 30px;
    margin: 15px;
}

.bell {
    height: 30px;
    width: 30px;
}

.profileInfo {
    padding-right: 20px;
    color: white;
}
.verticalLine {
    height: 30px;
    border-left: 1px black solid;
    margin: 0 20px;
}
.profileImage {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 30px;
}
.dashTop {
    background-color: $main-background;

}
.headerSearch {
    border: 1px solid $main;
}
.search {
    background-color: white;
    margin: 15px;
    width: 60%;
    height: 35px;
    border: 1px solid #e3e3e3;
    border-radius: 5px; 
}
.search::placeholder {
    font-style: italic;
    font-size: 18px;
    padding: 10px;
}
.trafficNav li {
    list-style-type: none;
    margin: 10px;
}
.widgetContainerFull {
    width: 95vw;
}
.widgetContainerHalf {
    width: 95vw;
    @media (min-width: 768px){
        width: 45vw;
    }
}

.icon {
    fill: white;
    padding: 5px;
    width: 45px;
    height: 45px;
    margin: 10px;
    text-align: center;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    @media (min-width: 768px) {
        width: 65px;
        height: 65px;
    }
    @media (min-width: 768px) {
        width: 75px;
        height: 75px;
    }
}

.alertBar {
    background-color: $main;
    margin: 0 auto ;
    margin-top: 15px;
    width: 85%;
    border-radius: 5px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
}
.socialBox {
    background-color: $main-background;
    width: 70%;
    border: 1px solid $main;
    border-radius: 5px;
    margin: 15px;
}
.socialText {
    line-height: .3px;
    margin-left: 15px;

}
.socialText h4 {
    color: $main;
    font-size: 1.2rem;
    @media (min-width: 768px){
        font-size: 1.8rem;
    }
}
.socialText p {
    color: brown;
    font-size: 1.5rem;
    @media (min-width: 768px){
        font-size: 2.5rem;
    }
    @media (min-width: 1024px){
        font-size: 4rem;
    }
}
.socialImage {
    border-radius: 50%;
    background-color: $main;

    margin: 15px;
}
.members {
    width: 95%;
}
.memberImage {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: auto;
    padding-right: 10px;
}
